<div class="text-center">
    <h1 class="display-4">Здарова</h1>
    <p>Подробнее в тг канале <a href="https://t.me/+kgF8PCiKu3dhYWI6">истории одного программиста</a>.</p>
    <img src="https://static.rozetked.me/images/uploads/mUIkM061Ljzp.jpg" alt="Изображение">
</div>