@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Да инфа про погоду, сейчас 19 градусов в Петерубрге</h2>
<p>Можно пойти гулять как хотите</p>
<p>но если никак не хотите, то не идите</p>
